.header{
  float: left;
  width: 100%;
  background: #6c6c95;
  color: white;
  text-align: center;
  line-height: 50px;
}
.btn{
  width: 100%;
  margin-top: 20px;
}
.box-information {
  float: left;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
}
.box-information p span {
  margin-left: 5px;
}

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.item-staff{
  margin-bottom: 20px;
}
.item-staff a{
  text-decoration: none;
  color: pink;
}